[ req ]
default_bits = 2048
encrypt_key = no
default_md = sha256
utf8 = yes
string_mask = utf8only
prompt = no
distinguished_name = req_distinguished_name
req_extensions = req_ext

[ req_distinguished_name ]
countryName = US
stateOrProvinceName = Virginia
localityName = Arlington
organizationName = MKHResume
organizationalUnitName = IT
commonName = app.ansiblelab.mkhresume.com ; The primary CN

[ req_ext ]
subjectAltName = @alt_names

[ alt_names ]
DNS.1 = ip-10-0-1-171.us-east-2.compute.internal
DNS.2 = 3.139.87.149
DNS.3 = 10.0.1.171

